body {
    background-color: #122932ff;
    /* "gunmetal" color */
}


.my-header {
    background-color: #0a5180;
    /* "non-photo-blue" color */
    text-align: center;
    color: white;
    border-width: 8px;
    border-style: groove;
    border-color: #3498db;
}



.my-footer {
    background-color: #0a5180;
    /* "non-photo-blue" color */
    text-align: left;
    color: white;
    margin-top: 100px;
    border-width: 8px;
    border-style: groove;
    border-color: #3498db;
}

.page-title {
    text-align: center;
}

.col-music-sheet-table {
    background-color: white;
    padding-top: 20px;
}

.my-right {
    background-color: #122932ff;
    text-align: center;
    padding-top: 20px;
}



.row-insert-update-delete {
    background-color: 122932ff;
    /* "gunmetal" color */
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

h4 {
    text-align: center;
}

form {
    padding-left: 10px;
    padding-right: 10px;
}

.page-title {

    text-align: center;
    padding-top: 10px;
}






/* Payments */


#payment-options {
    display: flex;
    align-items: center;
}



/* Logos */



.payment-logos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
}



.payment-logos-container .payment-logo {
    margin-left: 400px;
  }




.payment-logo:hover {
    opacity: 0.5;
}

.payment-logo {
    filter: brightness(100%);
    margin-right: 50px;
  }


#paypal-logo {
    margin-bottom: 25px;
}


#cashapp-logo {
    margin-top: 75px;
    margin-bottom: 75px;
}


.meta-pay-logo {
    filter: brightness(150%);
    margin-top: 50px;
    margin-bottom: 25px;
}




/* QR Codes */



.qr-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  
  .qr-code-container .payment-qr {
    margin-top: 10px;
  }









/* Discussion page below: */

